.left-side{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.btn1{
    width: 150px;
    height: 30px;
    background-color: transparent;
    border: 0.5px solid rgb(230, 221, 221);
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.btn2{
    width: 90px;
    height: 45px;
    border-radius: 20px;
    background-color: rgb(222, 222, 241);
    border: none;
    font-weight: bold;
    cursor: pointer;
}
.btn3{
    width: 100px;
    height: 45px;
    background-color: transparent;
    border: 2px solid green;
    color: black;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
.btn1 img{
    width: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
   align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.dash{
    height: 30px;
    cursor: pointer;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.search{
width: 500px;
height: 35px;
/* justify-content: center;
align-items: center; */
border-radius: 8px;
border: 0.5px light grey;
background-color: transparent;
}
.left-side{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lil-btn{
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}
.lil-btn button{
    border-radius: 5px;
    height: 30px;
    border: none;
}
.lil-btn button{
    cursor: pointer;
}
.t1{
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
}
.t2{
    background-color: rgb(222, 222, 241);
    color: rgb(88, 87, 87);
    font-weight: bold;
}
.t3{
    background-color:rgb(222, 222, 241);
    color: rgb(88, 87, 87);
    font-weight: bold;
}
.t4{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t5{
    color: white;
    background-color: red;
    font-weight: bold;
}
.t6{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t7{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t8{ color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);}
.t9{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t10{
    color: white;
    background-color: rgb(202, 38, 38);
    font-weight: bold;
    width: 70px;
}
.t11{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t12{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t13{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.t14{color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);}
.t15{
    color: rgb(88, 87, 87);
    font-weight: bold;
    background-color:rgb(222, 222, 241);
}
.picture{
    width: 400px;
    height: 250px;
}